.heading{
    color: #000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 0.75rem;
}

 .head{
    padding: 1.5rem;
   font-family: 'Roboto', sans-serif;

    
 }
   .parent{
   margin-top: 0.75rem;
   display: flex;
   flex-wrap:wrap;
   justify-content: center;
   gap : 1.5rem;
   }
   .img1{
    width:37%;
    height:100%;
    border:1px solid #000;
    border-radius: 10px;
    

   }
   .img2{
    width:37%;
    border:1px solid #000;
    border-radius: 10px;

   }


   .list-disc{
    list-style-type: disc;
    padding-top: 15px;
   }

   li{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-left:65px;
   
   }

   @media (min-width: 1024px) {
    .heading{
      margin-top: 4rem;
    }
   }

   @media (max-width: 650px) {
    li{
      margin: 20px 60px;
     
      font-size: 18px;
    }
    .img1{
      border-radius: 4px;
    }
    .img2{
      border-radius: 4px;
    }

   }